<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add work</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Добавление Проекта</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.topic.label }}<br>
            {{ form.topic(class="form-control") }}<br>
            {% for error in form.topic.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.section.label }}<br>
            {{ form.section(class="form-control") }}<br>
            {% for error in form.section.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <br><br><br>
        <p>
            {{ form.project.label }}<br>
            {{ form.project(class="form-control") }}<br>
            {% for error in form.project.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    {% endblock %}
</body>
</html>