<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Проекты</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.position == 'Ученик' %}
        <p><a class="btn btn-outline-success " href="/add_work">Добавить Проект</a></p>
        <p><h4><font color="green">Ваши работы</font></h4></p>
        {% if not table_data %}
        <p><h6><font color="grey">Здесь будут ваши работы</font></h6></p>
        {% endif %}
        {% for i in table_data %}
        <table class="table">
          <thead>
            <tr class="table-active">
              <th>Тема проекта</th>
              <th>Оценка</th>
            </tr>
          </thead>
            <tbody>
            <tr>
                <td class="table-info">{{i['topic']}}</td>
                {% if i['grade'] == -1 %}
                    <td class="table-info">не оценено</td>
                {% elif i['grade'] < 12 %}
                    <td class="table-danger">{{i['grade']}}</td>
                {% else %}
                    <td class="table-success">{{i['grade']}}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
        <div>
            <a href="/job_delete/{{ i['id'] }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endfor %}
        {% else %}
            {% if current_user.section == 'none' %}
                <p><a class="btn btn-outline-success " href="/sign_up">Записаться в секцию</a></p>
            {% endif %}
            {% for i in table_data %}
                <table class="table">
                  <thead>
                    <tr class="table-active">
                      <th>Тема проекта</th>
                      <th>Оценка</th>
                    </tr>
                  </thead>
                    <tbody>
                    <tr>
                        <td class="table-info">{{i['topic']}}</td>
                        {% if i['grade'] == -1 %}
                            <td class="table-info">не оценено</td>
                        {% elif i['grade'] < 12 %}
                            <td class="table-dander">{{i['grade']}}</td>
                        {% else %}
                            <td class="table-success">{{i['grade']}}</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a href="/rate_work/{{ i['id'] }}" class="btn btn-info">
                        Оценить
                    </a>
                </div>
            {% endfor %}

        {% endif %}

    {% else %}
        <h4><font color="green"><p>Авторизируйтесь, чтобы начать</p>
            <p><i><a href="/register">Зарегистроваться</a></i></p>
        </font></h4>
    {% endif %}
    {% endblock %}

</body>
</html>